.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
  "header header"
  "nav content";
  width: 1200px;
}

.app-wrapper-content {
  grid-area: content;
  background: gainsboro;
}


